@model PropiedadesModelPropiedad;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_NavUsuarios";
    ViewData["Title"] = "Rummet / Detalles de propiedad en proceso";
}
<!--///////////////////////////////HEAD ELEMENT IMPORTING/////////////////////////////////////////////////////-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styleDetallePropiedad.css">
    <link rel="stylesheet" href="~/css/estilosGenerales.css" />
    <link rel="stylesheet" href="~/css/contenedorImagenes.css">


    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <title>Detalle Propiedad</title>
</head>

<!--///////////////////////////////ANIMACION//////////////////////////////////////////////////////////////////-->
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


<!--///////////////////////////////CONTENIDO//////////////////////////////////////////////////////////////////-->
<input id="PropiedadGUID" value="@Model.IDPropiedadG" class="d-none">

<h4 class="tituloVista ms-3">Detalles de la propiedad : <b>@Model.Titulo </b></h4>
<div class="container-lg contenedorGeneralBlanco ">
    <partial name="DetallesHead" />
    <div class="container-lg ">
        <div class="row row-cols-lg-2 row-cols-sm-1">

            <div class="col-lg-5 col ">

                <div class="botones-modal  d-flex justify-content-between shadow p-3 rounded ">
                    <!-- BOTON MODAL 1 DOCUMENTOS -->
                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Documentos
                    </button>



                    <!--BOTON MODAL 2 FOTOS -->

                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Fotos
                    </button>



                    <!--BOTON MODAL 3 CONTRATOS-->
                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        Contratos
                    </button>


                </div>

                <!--Aquí empieza la seccion del propietario-->
                <div class="shadow seccion-propietario mt-2 rounded pt-2 mb-2 pb-3">
                    <h5 class="ms-3  ">Propietario</h5>
                    <br>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black ">Nombre: </label>
                        <input type="text" disabled class="mx-2 w-100" value="@Model.NombreP">
                    </div>

                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black " style="width:52%;">Apellido paterno: </label>
                        <input type="text" disabled class="mx-2 w-100" value="@Model.ApellidoPP">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black" style="width:60%;">Apellido materno: </label>
                        <input type="text" disabled class="mx-2 w-100" value="@Model.ApellidoMP">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Correo: </label>
                        <input type="text" disabled class="mx-2 w-100" value="@Model.CorreoP">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Teléfono: </label>
                        <input type="text" disabled class="mx-2 w-100" value="@Model.TelefonoP">
                    </div>

                </div>

                @if (SignInManager.IsSignedIn(User) && (!User.IsInRole("Broker")))
                {
                    <div class="seccion-fecha-publicacion shadow mt-2 pt-2 mb-2 rounded">
                        <h5 class="ms-3">Cliente</h5>
                        <br>
                        <div class="d-inline-flex my-2 w-100">
                            <label class="ms-3 text-black">Nombre: </label>
                            <input type="text" disabled class="mx-2 w-100" value="@Model.NombreC">
                        </div>
                        <div class="d-inline-flex my-2 w-100">
                            <label class="ms-3 text-black" style="width:60%;">Apellido paterno: </label>
                            <input type="text" disabled class="mx-2 w-100" value="@Model.ApellidoPC">
                        </div>
                        <div class="d-inline-flex my-2 w-100">
                            <label class="ms-3 text-black" style="width:60%;">Apellido materno: </label>
                            <input type="text" disabled class="mx-2 w-100" value="@Model.ApellidoMC">
                        </div>
                        <div class="d-inline-flex my-2 w-100">
                            <label class="ms-3 text-black ">Correo: </label>
                            <input type="text" disabled class="mx-2 w-100" value="@Model.CorreoC">
                        </div>
                        <div class="d-inline-flex mt-2 mb-4 w-100">
                            <label class="ms-3 text-black">Teléfono: </label>
                            <input type="text" disabled class="mx-2 w-100" value="@Model.TelefonoC">
                        </div>

                    </div>
                }


                <div class=" seccion-fecha-publicacion shadow mt-2 pt-2 mb-2 rounded">
                    <h5 class="ms-3">Notaría</h5>
                    <br>
                    <div class="d-inline-flex mb-3 mx-2 responsiveExtraSmall w-100">

                        @Html.DropDownListFor(model => model.Estado, new
                        SelectList(Model.EdosMex,"Estado","Estado"), "--Estado--",new
                        {@class="notaria-select form-select  mx-3", @id="EstadoMex"})

                        @Html.DropDownListFor(model => model.Municipio, new List<SelectListItem>(),
                        "--Municipio--", new { @class = "notaria-select form-select  mx-3", @id="MuniAlc"})

                    </div>
                    <div class="d-inline-flex mb-3 mx-2 responsiveExtraSmall w-100">

                        @Html.DropDownListFor(model => model.Notario, new List<SelectListItem>(),
                        "--Notario--", new { @class = "notaria-select form-select  mx-3", @id="NotarioS"})

                    </div>

                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black"> No.: </label>
                        <input type="text" disabled class="mx-2  w-100" id="NoNotaria" value="@Model.NoN">
                        <input type="hidden" disabled class="ms-2 " id="IDNotaria">
                    </div>
                    <div class="d-inline-flex my-2 w-100 ">
                        <label class="ms-3 text-black">Nombre: </label>
                        <input type="text" disabled class="mx-2 w-100" id="Notario" value="@Model.NotarioN">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Localidad: </label>
                        <input type="text" disabled class="mx-2 w-100" id="LocalidadNotario" value="@Model.LocalidadN">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Dirección: </label>
                        <input type="text" disabled class="mx-2 w-100" id="DireccionNotario" value="@Model.DireccionN">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Correo: </label>
                        <input type="text" disabled class="mx-2 w-100" id="CorreoNotario" value="@Model.CorreoN">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black">Teléfono: </label>
                        <input type="text" disabled class="mx-2 w-100" id="TelNotario" value="@Model.TelefonoN">
                    </div>
                    <div class="d-inline-flex my-2 w-100">
                        <label class="ms-3 text-black " style="width:30%;">Teléfono 2: </label>
                        <input type="text" disabled class="mx-2 w-100" id="Tel2Notario" value="@Model.Telefono2N">
                    </div>
                    <div class="d-flex ms-auto ">
                        <button class="btn btn-warning ms-auto mt-2 mb-3 mr-2" style="margin-right: 5%;" onclick="GuardarNotario()">Guardar </button>
                    </div>
                </div>

            </div>



            <div class="col-lg-7">
                <div class="row ">

                    <partial name="_DetallesPancita" />
                </div>

                <div class="shadow container-fluid mt-2 rounded pt-2 ">
                    <div class="row row-cols-2 responsiveExtraSmall">
                        <div>
                            <h5 class="d-flex">Comisión ganada</h5>
                        </div>
                        <div class="row row-cols-2 d-inline-flex">
                            <div class="d-flex col-2 mt-1 ">
                                <i class="fa-sharp fa-solid fa-cash-register"></i>
                            </div>
                            <div class="d-flex col-10 ">
                                @{
                                    var comisionG = "";
                                    if (@Model.Comision == "")
                                    {
                                        comisionG = "Comisión no calculada";
                                    }
                                    else
                                    {
                                        string numero = @Model.Comision;
                                        decimal valor = decimal.Parse(numero);

                                        string precioTotalP;
                                        if (valor % 1 == 0)
                                        {
                                            precioTotalP = valor.ToString("N0"); // Formato sin decimales ni separadores de miles
                                        }
                                        else
                                        {
                                            precioTotalP = valor.ToString("N2"); // Formato con dos decimales y separadores de miles
                                        }


                                        comisionG = precioTotalP;

                                    }
                                }
                                <p typeof="number" class="ms-2 " style="color:forestgreen"><i class="fa-solid fa-dollar-sign"></i> @comisionG </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row indicadores-propiedad shadow rounded m-auto mt-3 p-2  ">
                    <div class="tab margin-tablinks">
                        <div class="">
                            <h5 class="ms-2">Etapas</h5>
                            <br>
                        </div>
                        <div class="d-flex justify-content-between">


                            <button type="button" class=" bg-transparent border-0 d-flex mx-auto tablinks2  active" onclick="vertablas(event, 'Tabla2')" id="defaultOpen2">
                                <div class="caja-etapas mb-2 mb-xl-0 d-flex btn-etapa-nego position-relative">

                                    <div class="card-main col-12 d-flex align-items-center justify-content-center">

                                        <div class="">
                                            <p class="size-letter-cards-first my-auto ">Oportunidad</p>
                                        </div>

                                    </div>

                                </div>
                            </button>
                            <div class="d-inline-flex align-items-center">
                                <div class="progress-circle me-2"></div>
                                <div class="progress-circle me-2"></div>
                                <div class="progress-circle"></div>
                            </div>
                            <button type="button" class=" bg-transparent border-0 d-flex mx-auto tablinks2 " onclick="vertablas(event, 'Tablapubli')">
                                <div class="caja-etapas mb-2 mb-xl-0 d-flex btn-etapa-contrato-promesa ">

                                    <div class="card-main col-12 d-flex align-items-center justify-content-center">



                                        <div class="">
                                            <p class="size-letter-cards-first my-auto ">Entrega</p>
                                        </div>

                                    </div>

                                </div>
                            </button>
                            <div class="d-inline-flex align-items-center">
                                <div class="progress-circle me-2"></div>
                                <div class="progress-circle me-2"></div>
                                <div class="progress-circle"></div>
                            </div>

                            <button type="button" class=" bg-transparent border-0 d-flex mx-auto tablinks2 " onclick="vertablas(event, 'TablaprocesoEntrega')">
                                <div class="caja-etapas mb-2 mb-xl-0 d-flex btn-etapa-transferencia">
                                    <div class="card-main col-12 d-flex align-items-center justify-content-center">



                                        <div class="">
                                            <p class="size-letter-cards-first my-auto ">Cierre</p>
                                        </div>





                                    </div>

                                </div>
                            </button>

                        </div>

                        <div class="container tabcontent2" id="Tabla2" style="display: block;">
                            <div class="row">
                                <!--variable dummie creada por thaliz con el objetivo solamente de prueba
                                    cabile el nombre si es preciso
                                -->
                                @{
                                    var classEtapas = Model.EtapaLead;
                                    var backgrn1 = "";
                                    var backgrn2 = "";
                                    var backgrn3 = "";
                                    var backgrn4 = "";
                                    var backgrn5 = "";
                                    var backgrn6 = "";
                                    var backgrn7 = "";
                                    var backgrn8 = "";
                                    var backgrn9 = "";
                                    var backgrn10 = "";
                                    var backgrn11 = "";
                                    var backgrn12 = "";

                                    switch (classEtapas)
                                    {
                                        case "Anticipo":

                                            backgrn1 = "fa-solid   fa-circle-check  backgr-check";
                                            backgrn2 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn3 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn4 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn5 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn6 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn7 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check  backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check  backgr-no-check";
                                            break;

                                        case "Contrato promesa":
                                            backgrn1 = "fa-solid   fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid   fa-circle-check backgr-check";
                                            backgrn3 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn4 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn5 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn6 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn7 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Contrato compra/venta":
                                            backgrn1 = "fa-solid   fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid   fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid   fa-circle-check backgr-check";
                                            backgrn4 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn5 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn6 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn7 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Enganche":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn6 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn7 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Cita con notario":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Pago total del inmueble":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Firma de escritura":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn8 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn9 = "fa-solid  fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;

                                        case "Copia de escritura":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn8 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn9 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn10 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;
                                        case "Facturación de comisión a propietario":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn8 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn9 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn10 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn11 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;
                                        case "Pago de comisión al broker":
                                            backgrn1 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn2 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn3 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn4 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn5 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn6 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn7 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn8 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn9 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn10 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn11 = "fa-solid  fa-circle-check backgr-check";
                                            backgrn12 = "fa-solid  fa-circle-check backgr-check";
                                            break;

                                        default:
                                            backgrn1 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn2 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn3 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn4 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn5 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn6 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn7 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn8 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn9 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn10 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn11 = "fa-regular fa-circle-check backgr-no-check";
                                            backgrn12 = "fa-regular fa-circle-check backgr-no-check";
                                            break;


                                    }



                                }




                                <div class="col mt-3">
                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class=" @backgrn1"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Anticipo</p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class=" @backgrn2"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Contrato promesa</p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class="@backgrn3"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Contrato compra/venta</p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn4"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Enganche</p>
                                        </div>
                                    </div>
                                    <br>



                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn5"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Envío de enganche a propietario</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="container tabcontent2" id="Tablapubli" style="display: none;">
                            <div class="row">
                                <div class="col mt-3">
                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class=" @backgrn6"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Cita con notario</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class="@backgrn7"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Pago total del inmueble</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn8"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Firma de escritura</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn9"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Firma de contrato</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn10"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Copia de escritura</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container tabcontent2" id="TablaprocesoEntrega" style="display: none;">
                            <div class="row">
                                <div class="col mt-3">
                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class=" @backgrn11"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Facturación de la comisión al propietario</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn12"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Pago de comisión al broker</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container  tabcontent2" id="Tabla6" style="display: none;">
                            <div class="row">
                                <div class="col mt-3">
                                    <div class="d-inline-flex">
                                        <div class=" mt-1  d-flex">
                                            <i class=" @backgrn1"></i>
                                        </div>
                                        <div class="ms-2">
                                            <p>Contact center proporciona datos de notaria para iniciar trámite</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-inline-flex">
                                        <div class=" mt-2 text-center d-flex">
                                            <i class=" @backgrn1"></i>
                                        </div>
                                        <div class="ms-2 mt-1">
                                            <p>Contact center recibe check list y formularios y envia al Bróker, Interesado, Mesa de Control y Propietario</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</div>
@{
    var Thaliz = "";
}




<!-- Modal de documentos -->
<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" style="background-color: rgba(128, 128, 128, 0.5)">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <label for="documentos" class="fw-bold color_letter ms-lg-2">
                    Documentos
                </label>
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <br>
                    <div class="row d-inline-flex">
                        <div class="col-lg-8">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive table-height">
                                <partial name="_DocPropiedades" />




                                @{
                                    var Usuario = "";
                                }


                                <hr />
                               

                            </div>
                            <div class="input-group d-flex justify-content-start">
                            </div>
                        </div>
                        <div class="col border">
                            <div class="input-group d-flex mx-auto">
                                <div id="visorArchivo" class="d-flex justify-content-end mx-auto">
                                   
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-modals" id="Guardarbtn">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal de fotos-->
<div class="modal fade" id="exampleModal2" tabindex="1" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-bs-backdrop="static" style="background-color: rgba(128, 128, 128, 0.5)">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <label for="documentos" class="fw-bold color_letter ms-lg-2">
                    Fotografías
                </label>
                <h1 class="modal-title fs-5" id="exampleModalLabel2"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid d-flex  justify-content-center">
                    <div class="container-img m-auto">


                        @foreach (var img642 in Model.ImagenesPropiedad)
                        {
                            <div class="box-img">

                                <figure class="image-figure">
                                    <img src="@img642.txt64" alt="img-galeria">

                                </figure>

                            </div>

                        }


                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal de contratos -->
<div class="modal fade" id="exampleModal3" tabindex="1" aria-labelledby="exampleModalLabel3" aria-hidden="true" data-bs-backdrop="static" style="background-color: rgba(128, 128, 128, 0.5)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <label for="documentos" class="fw-bold color_letter ms-lg-2">
                    Contratos
                </label>
                <h1 class="modal-title fs-5" id="exampleModalLabel3"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br>
                <div class="row">
                    <div class="col">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive table-height">
                            <table class="table table-hover border-gray h-100">

                                <tbody>
                                    <tr class="tabla-hover">
                                        <th scope="row" class="col-1">1</th>
                                        <td class="col-5">
                                            <h6 class="font-size-visualizador">Contrato intermediación</h6>
                                        </td>
                                        <td class="col-2">
                                            <div class="fileContainer2 input-group btn btnm">
                                                <i class="fa-solid fa-file-arrow-up size-icon "> </i>
                                                <input type="file" name="s_archivo" id="archivoInput_1" class="position-absolute top-0 start-0 claseBtnTruco"
                                                       onchange="return validarExt(1)">


                                            </div>
                                        </td>
                                        <td class="col-2">
                                            <div class="fileContainer3 input-group btn btnm">
                                                <input type="button" name="v_archivo4" id="" onclick="visorExt(1)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                <i class="fa-solid fa-eye size-icon "></i>
                                            </div>
                                        </td>
                                        <td class="col-2">
                                            @{

                                                if (Usuario == "MesaDeControl")
                                                {
                                                    <div class="fileContainer3 input-group btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane  size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="fileContainer3 input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>

                                                }

                                            }

                                        </td>
                                    </tr>
                                    <tr class="tabla-hover">
                                        <th scope="row">2</th>
                                        <td>
                                            <h6 class="font-size-visualizador">Contrato promesa</h6>
                                        </td>
                                        <td>
                                            <div class="fileContainer2 input-group btn btnm">
                                                <i class="fa-solid fa-file-arrow-up size-icon  size-icon "></i>
                                                <input type="file" name="s_archivo" id="archivoInput_2" class="position-absolute top-0 start-0 claseBtnTruco"
                                                       onchange="return validarExt(2)">

                                            </div>
                                        </td>
                                        <td>
                                            <div class="fileContainer3 input-group btn btnm">
                                                <input type="button" name="v_archivo6" id="" onclick="visorExt(2)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                <i class="fa-solid fa-eye size-icon"></i>
                                            </div>
                                        </td>
                                        <td class="col-2">
                                            @{

                                                if (Usuario == "MesaDeControl")
                                                {
                                                    <div class="fileContainer3 input-group btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane  size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="fileContainer3 input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>

                                                }

                                            }

                                        </td>
                                    </tr>
                                    <tr class="tabla-hover">
                                        <th scope="row">3</th>
                                        <td>
                                            <h6 class="font-size-visualizador">Contrato venta</h6>
                                        </td>
                                        <td>
                                            <div class="fileContainer2 input-group btn btnm">
                                                <input type="file" name="s_archivo" id="archivoInput_3" class="position-absolute top-0 start-0 claseBtnTruco"
                                                       onchange="return validarExt(3)">
                                                <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="fileContainer3 input-group btn btnm">
                                                <input type="button" name="v_archivo7" id="" onclick="visorExt(3)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                <i class="fa-solid fa-eye  size-icon"></i>
                                            </div>
                                        </td>
                                        <td class="col-2">
                                            @{

                                                if (Usuario == "MesaDeControl")
                                                {
                                                    <div class="fileContainer3 input-group btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane  size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="fileContainer3 input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento enviado">
                                                        <input type="button" name="p_archivo5" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-paper-plane  size-icon"></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento pendiente">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-arrow-rotate-right size-icon "></i>

                                                    </div>


                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-badge-check"></i>

                                                    </div>

                                                    <div class="fileContainer3 d-none input-group  btn btnm" data-toggle="tooltip" data-placement="top" title="Documento no firmado">
                                                        <input type="button" name="a_archivo1" id="" class="position-absolute top-0 start-0 claseBtnTruco">
                                                        <i class="fa-solid fa-octagon-xmark"></i>

                                                    </div>

                                                }

                                            }

                                        </td>
                                    </tr>

                                </tbody>


                            </table>
                        </div>
                        <div class="input-group d-flex justify-content-start">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group d-flex justify-content-center">
                            <div id="visorArchivo2" class="size-file d-flex h-auto">
                                <h5 class="text-center">Visualizador de archivos</h5>



                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/detallespp.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    modal()
    function modal() {
        const btnModal = document.getElementById('btn-modal'); // boton de calendario
        btnCloseModal = document.getElementById('close-modal'); // boton de cerrar calendario

        const contModal = document.getElementById('cont-modal'); // Contenido del calendario


        // LLamado de FullCalendar
        var initialLocaleCode = 'es';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: '2022-10-19',
            locale: initialLocaleCode,
            theme: true,
            editable: true,
            buttonIcons: false, // show the prev/next text
            // weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2020-09-01'
                },
                {
                    title: 'Long Event',
                    start: '2020-09-07',
                    end: '2020-09-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2020-09-11',
                    end: '2020-09-13'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T10:30:00',
                    end: '2020-09-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2020-09-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2020-09-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2020-09-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2020-09-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2020-09-28'
                }
            ]
        });

        btnModal.onclick = function () { // Funcion al precionar el boton de calendario
            contModal.classList.add('active')

            calendar.render();

            // build the locale selector's options
            calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
                var optionEl = document.createElement('option');
                optionEl.value = localeCode;
                optionEl.selected = localeCode == initialLocaleCode;
                optionEl.innerText = localeCode;
                localeSelectorEl.appendChild(optionEl);
            });

            // when the selected option changes, dynamically change the calendar option
            localeSelectorEl.addEventListener('change', function () {
                if (this.value) {
                    calendar.setOption('locale', this.value);
                }
            });

        }

        btnCloseModal.onclick = function () { // boton de cerrar calendario
            contModal.classList.remove('active')
        }


    }

    //Funcion para las etapas

    /*Función 2 para ocultar las tablas*/
    function vertablas(evt, vertablas) {

        var i, tabcontent2, tablinks2;
        tabcontent2 = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent2.length; i++) {
            var juanito = tabcontent2[i].style.display = "none";
            tabcontent2[i].style.display = "none";
        }
        tablinks2 = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks2.length; i++) {
            tablinks2[i].className = tablinks2[i].className.replace(" active", "");
        }
        document.getElementById(vertablas).style.display = "block";
        evt.currentTarget.className += " active";

    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen2").click();
</script>

<!--Este es el CDN de SWEET ALERT -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script src="~/js/script.js"></script>
<script src="~/js/script-visualizadores.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/modalFunciones.js"></script>
<script src="~/js/descargaPDF.js"></script>


<script src="~/js/archivo.js"></script>