@model UsuariosModel;
@{
    Layout = "_NavUsuarios";
    ViewData["Title"] = "Rummet / Edición de usuario";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<!DOCTYPE html>




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=1.0">
    <title>@ViewData["Title"]- Edición de usuarios</title>


    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png" />
    <link href="~/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <link href="~/assets/css/material-bootstrap-wizard-2.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/style_form_nuevo_usuario.css" />
    <link rel="stylhseet" href="~/css/Style_form.css" />
    <link rel="stylesheet" href="~/css/estilosGenerales.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />


    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
</head>

<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<h3 class="tituloVista ms-4">Edición de usuarios</h3>
<div class="container-lg ">


    <div class="row">
        <div class="col">
            <!--      Wizard container        -->

            <div class="wizard-container ">

                <div class="card wizard-card contenedorGeneralBlanco " data-color="orange" id="wizardProfile">
                    <form  id="myform"  asp-controller="Usuarios" asp-action="Editar" enctype="multipart/form-data">

                        <div class="wizard-navigation">
                            <ul>
                                <li><a href="#generales" data-toggle="tab">Generales</a></li>

                                <li><a href="#documentacion" data-toggle="tab">Documentación</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <!--pestaña de generales-->
                            <div class="tab-pane" id="generales">
                                <div class="">

                                    <!-- Aqui empieza la cabecera Datos del usuario -->
                                    <div class="row">
                                        <label for="" class="col">
                                            <h5 class="ms-1 text-black">Datos generales</h5>
                                        </label>

                                        @if (SignInManager.IsSignedIn(User) && ((User.IsInRole("Soporte") || (User.IsInRole("Admin root")))))
                                        {
                                            <div class=" justify-content-start col d-inline-flex">
                                                <!--tipo de usurio-->
                                                <div class="col  form-group label-floating is-empty" style="    margin: 0% 0 0 15%;">
                                                    <label for="t_operacion" class="color_letter2 size-text control-label" style="margin: 0 0 0 116px;    color: #808080;">
                                                        Tipo de usuario
                                                    </label>
                                                    @Html.DropDownListFor(model => model.RolS, new
                                                SelectList(Model.Roles,"Rol","Rol"), "--- Selecciona ---",new
                                                {@class="w-75 size-select2 rounded form-control text-center tDUsuarioSelect mt-2"})
                                                </div>
                                                <!--activar/desactivar-->

                                                <div class="col">

                                                    <div class="d-flex me-5 justify-content-end">
                                                        <label class="d-flex justify-content-end color_letter me-4">Activo </label>
                                                    </div>

                                                    <div class="form-check form-switch   mt-1 d-flex justify-content-end ">
                                                        @Html.CheckBox("EstatusBool", Model.EstatusBool, new { @class = "form-check-input margin-l-sw", @id = "flexSwitchCheckDefault", @checked = Model.EstatusBool })

                                                    </div>
                                                </div>


                                            </div>
                                        }
                                    </div>

                                    <!-- Aqui empieza la seccion del nombre y apellido de usuario -->
                                    <div class=" input-group mt-3 ">
                                        <div class=" container-fluid m-2">
                                            <div class="row">
                                                <!--columna izquierda-->
                                                <div class="col-4">


                                                    <div class=" col mb-2 d-flex flex-column flex-wrap  align-items-center">
                                                        <label for="t_operacion" class="align-content-start fw-normal fs-6  color_letter mb-3">
                                                            Selecciona tu imagen de perfil
                                                        </label>
                                                        <div class="fileContainer  imgPerfilContainer text-center">
                                                            <input type="file" asp-for="imgPerfil" id="archivo" style="height: 10vw;  width: 10vw;" onchange="cargarImagen()">
                                                            @if (Model.txtBase64 != null)
                                                            {
                                                                <img src="@Model.txtBase64" id="preview" alt="" class="profile_picture rounded-circle">
                                                            }
                                                            else
                                                            {
                                                                <img src="/img/image-form-usuario/Recurso_usuario.png" id="preview" alt="" class="profile_picture rounded-circle">
                                                            }
                                                            <label for="" class="text-center btn-orange text-light mt-1 size_text_profile" style="    padding: 0.1vw 1vw;   border-radius: 7px;">
                                                                Dale clic aquí
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--columna derecha-->
                                                <div class="col-8 row row-cols-1 d-flex ">

                                                    <div class="row row-cols-3 ">
                                                        <!-- Nombre-->
                                                        <div class="col" style="margin: 0px 0 0 -8px;">
                                                            <div class="d-inline form-group label-floating is-empty">
                                                                <div class="d-flex  ">
                                                                    <label for="nombres" class="color_letter2 size-text control-label">Nombre(s)</label>
                                                                </div>
                                                                <input type="text" asp-for="Nombre" id="nombres" class="mt-2 form-control" aria-required="true" required>
                                                                <span class="material-input"></span>

                                                            </div>
                                                        </div>

                                                        <!--Apellido Paterno-->
                                                        <div class="col">
                                                            <div class="d-inline form-group label-floating is-empty">
                                                                <div class="d-flex">
                                                                    <label for="" class="color_letter2 size-text control-label">Apellido paterno</label>
                                                                </div>
                                                                <input type="text" asp-for="ApellidoP" class="mt-2 form-control ms-1" aria-required="true" required>
                                                                <span class="material-input"></span>

                                                            </div>
                                                        </div>

                                                        <!--Apellido Materno-->
                                                        <div class="col">
                                                            <div class="d-inline form-group label-floating  is-empty">
                                                                <div class="d-flex">
                                                                    <label for="" class="color_letter2 size-text control-label">Apellido materno</label>
                                                                </div>
                                                                <input type="text" asp-for="ApellidoM" class="form-control mt-2  ms-1" >
                                                                <span class="material-input"></span>

                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!--fcha de cumpleaños-->
                                                    <div class="row d-flex p-1  col-8">

                                                        <div class="d-inline form-group label-floating is-empty" style=" margin-top: 1vw;">
                                                            <div class="d-flex  ">
                                                                <label for="nombres" class="color_letter2 size-text control-label">Fecha de cumpleaños</label>
                                                            </div>
                                                            <input type="date" asp-for="FecCump" class=" form-control mt-2 w-50" aria-required="true">



                                                        </div>

                                                    </div>

                                                </div>

                                                <hr />

                                            </div>


                                            <!--seccion de contacto-->
                                            <label for="Contacto">
                                                <h5 class="ms-1 text-black">Contacto</h5>
                                            </label>

                                            <div class="row">
                                                <div class="d-in  line-flex mt-3 ms-3 row row-cols-3 w-100 mt-1">

                                                    <div class="d-flex form-group flex-column col px-0  ">
                                                        <label for="correo_elec" class="control-label color_letter2 size-text" style="font-size:14px;">Correo electrónico </label>
                                                        <input type="text" asp-for="Correo" class=" form-control mt-2" />
                                                        <input type="hidden" asp-for="CorreoPE" value="@Model.Correo" />
                                                    </div>

                                                    <div class="d-flex form-group flex-column col ">
                                                        <label for="tel" class=" color_letter2 size-text control-label " style="font-size:14px;">Teléfono</label>

                                                        <div class="d-inline-flex">

                                                            <select class="d-flex form-control" style="width: 100px;" asp-for="Lada">
                                                                <option value="+52" class="flag-icon flag-icon-mx">+52 (MX)</option>
                                                                <option value="+54" class="flag-icon flag-icon-mx">+54 (ARG)</option>
                                                                <option value="+57" class="flag-icon flag-icon-gb">+57 (COL)</option>
                                                                <option value="+53" class="flag-icon flag-icon-gb">+53 (CUB)</option>
                                                                <option value="+1" class="flag-icon flag-icon-us">+1 (EE.UU)</option>
                                                                <option value="+48" class="flag-icon flag-icon-us">+48 (PL)</option>
                                                                <option value="+44" class="flag-icon flag-icon-gb">+44 (UK)</option>

                                                            </select>
                                                            <input type="tel" asp-for="Tel" min="0" maxlength="10" class="mt-2 ms-1 form-control NobtnNumber" required />
                                                        </div>
                                                    </div>

                                                    <div class="d-flex form-group flex-column col">
                                                        <label for="n_propiedad" class=" color_letter2 size-text control-label" style="font-size:14px;">Teléfono 2</label>
                                                        <div class="d-inline-flex">

                                                            <select class="d-flex form-control" style="width: 100px;" asp-for="Lada2">
                                                                <option value="+52" class="flag-icon flag-icon-mx">+52 (MX)</option>
                                                                <option value="+54" class="flag-icon flag-icon-mx">+54 (ARG)</option>
                                                                <option value="+57" class="flag-icon flag-icon-gb">+57 (COL)</option>
                                                                <option value="+53" class="flag-icon flag-icon-gb">+53 (CUB)</option>
                                                                <option value="+1" class="flag-icon flag-icon-us">+1 (EE.UU)</option>
                                                                <option value="+48" class="flag-icon flag-icon-us">+48 (PL)</option>
                                                                <option value="+44" class="flag-icon flag-icon-gb">+44 (UK)</option>

                                                            </select>
                                                            <input type="tel" asp-for="Tel2" min="0" maxlength="10" class="mt-2 ms-1 form-control NobtnNumber" />
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>


                                            <hr />
                                            <!--row 3 Datos personales-->
                                            <label for="datos_personales" class="fw-bold ms-1">
                                                <h5 class=" text-black">Datos personales</h5>
                                            </label>
                                            <div class="row row-cols-2 mt-3">


                                                <div class="d-flex form-group col flex-column">
                                                    <div class="d-inline form-group label-floating is-empty ms-3">
                                                        <div class="d-flex">
                                                            <label for="" class="color_letter2">CURP</label>

                                                        </div>
                                                        <input type="text" asp-for="Curp" class="form-control w-75 datosMAyusc" aria-required="true" maxlength="18">
                                                        <span class="material-input"></span>
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>


                                                <div class="d-flex form-group col flex-column">
                                                    <div class="d-inline form-group label-floating  is-empty">
                                                        <div class="d-flex">
                                                            <label for="rfc" class="color_letter2 coll">RFC</label>
                                                        </div>
                                                        <input type="text" class=" form-control w-75 datosMAyusc" asp-for="Rfc" aria-required="true" maxlength="13">
                                                        <span class="material-input"></span>
                                                        <span class="material-input"></span>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <hr />


                                      @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin root")))
                                    {
                                        <div class="ms-4">
                                            <label for="datos_personales" class="fw-bold ms-1">
                                                <h5 class=" text-black"> Recuperar contraseña </h5>
                                            </label>
                                            <div class="mb-4 ms-3">
                                                <button type="button" class="btn btn-fill btn-dark-blue text-white btn-wd" data-toggle="modal" data-target="#RecuContra">Restablecer contraseña</button>
                                            </div>
                                        </div>

                                    }

                                    @if (UserManager.GetUserName(User)==Model.Correo)
                                    {
                                        <div class="ms-4">
                                            <label for="datos_personales" class="fw-bold ms-1">
                                                <h5 class=" text-black">¿Deseas cambiar tu contraseña?</h5>
                                            </label>
                                            <div class="mb-4 ms-3">
                                                <a type="button" class="btn btn-fill btn-dark-blue text-white btn-wd" data-bs-toggle="modal" data-bs-target="#RecuContra" asp-controller="Accesos" asp-action="CambiarPassword">Restablecer contraseña</a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <!--pestaña de documentacion-->
                            <div class="tab-pane" id="documentacion">
                                <div class="row  controlador_usuarios">

                                    <input class="d-none" id="contorlador" value="Usuarios" />

                                    <label for="documentos" class="">
                                        <h5 class="ms-1  text-black">Documentos</h5>
                                    </label>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class=" my-custom-scrollbar  table-height table-responsive">

                                                @{
                                                    var documento = Model.DocEUsuario;
                                                    int indice = 0;
                                                    int estadoDocumento;
                                                    string fileNombre;

                                                }
                                                <table class="table table-hover border-gray h-100 border">

                                                    <tbody>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">1</th>
                                                            <td colspan="2">Identificación oficial (Passaporte, INE, FM3)</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[0].Documento" id="archivoInput_1" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(1)">
                                                                    <i class="fa-solid fa-file-arrow-up size-icon "></i>
                                                                    <input asp-for="DocEUsuario[0].IDdocUsuario" class="d-none" value="@documento[0].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[0].IDtipoArchivo" value="@documento[0].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[0].archivoNombre" id="DocumentoNombre_1" value="@documento[0].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_1" value="@documento[0].txt64">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3  input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo" id="archivoInput_delete_1" onclick="borrarArchivo(1,'usuarios',@documento[@indice].IDdocUsuario, @documento[0].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can size-icon "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(1)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon "></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                @{
                                                                    indice = 1;
                                                                    estadoDocumento = Model.DocEUsuario[0].IDStatusDoc;
                                                                }


                                                                <input id="IDdoc_@indice" class="d-none" value="@documento[0].IDdocUsuario" />

                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">


                                                            </td>


                                                        </tr>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">2</th>
                                                            <td colspan="2">CURP</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[1].Documento" id="archivoInput_2" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(2)">
                                                                    <input asp-for="DocEUsuario[1].IDdocUsuario" class="d-none" value="@documento[1].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[1].IDtipoArchivo" value="@documento[1].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[1].archivoNombre" id="DocumentoNombre_2" value="@documento[1].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_2" value="@documento[1].txt64">

                                                                    <i class="fa-solid fa-file-arrow-up size-icon size-icon "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo2" id="archivoInput_delete_2" onclick="borrarArchivo(2,'usuarios',@documento[1].IDdocUsuario, @documento[1].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(2)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon"></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                @{
                                                                    indice = 2;
                                                                    estadoDocumento = Model.DocEUsuario[1].IDStatusDoc;
                                                                }


                                                                                                                                <input id="IDdoc_@indice" class="d-none" value="@documento[1].IDdocUsuario" />

                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">

                                                            </td>

                                                        </tr>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">3</th>
                                                            <td colspan="2">RFC</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[2].Documento" id="archivoInput_3" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(3)">
                                                                    <input asp-for="DocEUsuario[2].IDdocUsuario" class="d-none" value="@documento[2].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[2].IDtipoArchivo" value="@documento[2].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[2].archivoNombre" id="DocumentoNombre_3" value="@documento[2].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_3" value="@documento[2].txt64">

                                                                    <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo3" id="archivoInput_delete_3" onclick="borrarArchivo(3,'usuarios',@documento[2].IDdocUsuario, @documento[2].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(3)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    indice = 3;
                                                                    estadoDocumento = Model.DocEUsuario[2].IDStatusDoc;
                                                                }

                                                                <input id="IDdoc_@indice" class="d-none" value="@documento[2].IDdocUsuario" />

                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">

                                                            </td>

                                                        </tr>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">4</th>
                                                            <td colspan="2">Acta de nacimiento</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[3].Documento" id="archivoInput_4" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(4)">
                                                                    <input asp-for="DocEUsuario[3].IDdocUsuario" class="d-none" value="@documento[3].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[3].IDtipoArchivo" value="@documento[3].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[3].archivoNombre" id="DocumentoNombre_4" value="@documento[3].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_4" value="@documento[3].txt64">
                                                                    <i class="fa-solid fa-file-arrow-up size-icon "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo4" id="archivoInput_delete4" onclick="borrarArchivo(4,'usuarios',@documento[3].IDdocUsuario, @documento[3].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can size-icon "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(4)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon "></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                @{
                                                                    indice = 4;
                                                                    estadoDocumento = Model.DocEUsuario[3].IDStatusDoc;
                                                                }

                                                                    <input id="IDdoc_@indice" class="d-none" value="@documento[3].IDdocUsuario" />


                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">

                                                            </td>

                                                        </tr>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">5</th>
                                                            <td colspan="2">Comprobante de domicilio</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[4].Documento" id="archivoInput_5" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(5)">
                                                                    <input asp-for="DocEUsuario[4].IDdocUsuario" class="d-none" value="@documento[4].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[4].IDtipoArchivo" value="@documento[4].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[4].archivoNombre" id="DocumentoNombre_5" value="@documento[4].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_5" value="@documento[4].txt64">
                                                                    <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo3" id="archivoInput_delete_5" onclick="borrarArchivo(5,'usuarios',@documento[4].IDdocUsuario, @documento[4].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(5)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon"></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                @{
                                                                    indice = 5;
                                                                    estadoDocumento = Model.DocEUsuario[4].IDStatusDoc;
                                                                }

                                                                                                                                <input id="IDdoc_@indice" class="d-none" value="@documento[4].IDdocUsuario" />

                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">

                                                            </td>

                                                        </tr>
                                                        <tr class="tabla-hover">
                                                            <th scope="row">6</th>
                                                            <td colspan="2">Constancia de situación fiscal</td>
                                                            <td>
                                                                <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="file" asp-for="DocEUsuario[5].Documento" id="archivoInput_6" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                           onchange="SubirVisualizar(6)">
                                                                    <input asp-for="DocEUsuario[5].IDdocUsuario" class="d-none" value="@documento[5].IDdocUsuario" />
                                                                    <input asp-for="DocEUsuario[5].IDtipoArchivo" value="@documento[5].IDtipoArchivo" class="d-none">
                                                                    <input asp-for="DocEUsuario[5].archivoNombre" id="DocumentoNombre_6" value="@documento[5].archivoNombre" class="d-none">
                                                                    <input class="d-none" id="txt64_6" value="@documento[5].txt64">

                                                                    <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="d_archivo3" id="archivoInput_delete_6" onclick="borrarArchivo(6,'usuarios',@documento[5].IDdocUsuario, @documento[5].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                    <input type="button" name="v_archivo4" id="" onclick="visorExt(6)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                    <i class="fa-solid fa-eye size-icon"></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                @{
                                                                    indice = 6;
                                                                    estadoDocumento = Model.DocEUsuario[5].IDStatusDoc;
                                                                }

                                                                <input id="IDdoc_@indice" class="d-none" value="@documento[5].IDdocUsuario" />

                                                                    
                                                                <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                                                                                <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">



                                                            </td>


                                                        </tr>

                                                        @if (Model.RolS == "Propietario")
                                                        {

                                                            <tr class="tabla-hover">
                                                                <th scope="row">7</th>
                                                                <td colspan="2">Acta de matrimonio</td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">

                                                                        <input type="file" asp-for="DocEUsuario[6].Documento" id="archivoInput_7" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                               onchange="SubirVisualizar(7)">
                                                                        <input asp-for="DocEUsuario[6].IDdocUsuario" class="d-none" value="@documento[6].IDdocUsuario" />
                                                                        <input asp-for="DocEUsuario[6].IDtipoArchivo" value="@documento[6].IDtipoArchivo" class="d-none">
                                                                        <input asp-for="DocEUsuario[6].archivoNombre" id="DocumentoNombre_7" value="@documento[6].archivoNombre" class="d-none">
                                                                        <input class="d-none" id="txt64_7" value="@documento[6].txt64">

                                                                        <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                        <input type="button" name="d_archivo3" id="archivoInput_delete_7" onclick="borrarArchivo(7,'usuarios',@documento[6].IDdocUsuario, @documento[6].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                        <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt(7)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                        <i class="fa-solid fa-eye size-icon"></i>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    @{
                                                                        indice = 7;
                                                                        estadoDocumento = Model.DocEUsuario[6].IDStatusDoc;
                                                                    }

                                                                    <input id="IDdoc_@indice" class="d-none" value="@documento[6].IDdocUsuario" />
                                                                    <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                    <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">

                                                                
                                                                </td>


                                                            </tr>

                                                        }
                                                        else
                                                        {
                                                            <tr class="tabla-hover">
                                                                <th scope="row">7</th>
                                                                <td colspan="2">Carta de confidencialidad</td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group btn btnm" style="background-color:transparent">

                                                                        <input type="file" asp-for="DocEUsuario[6].Documento" id="archivoInput_7" class="position-absolute top-0 start-0 claseBtnTruco"
                                                                               onchange="SubirVisualizar(7)">
                                                                        <input asp-for="DocEUsuario[6].IDdocUsuario" class="d-none" value="@documento[6].IDdocUsuario" />
                                                                        <input asp-for="DocEUsuario[6].IDtipoArchivo" value="@documento[6].IDtipoArchivo" class="d-none">
                                                                        <input asp-for="DocEUsuario[6].archivoNombre" id="DocumentoNombre_7" value="@documento[6].archivoNombre" class="d-none">
                                                                        <input class="d-none" id="txt64_7" value="@documento[6].txt64">

                                                                        <i class="fa-solid fa-file-arrow-up  size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                        <input type="button" name="d_archivo3" id="archivoInput_delete_7" onclick="borrarArchivo(7,'usuarios',@documento[6].IDdocUsuario, @documento[6].IDStatusDoc);" class="eliminarprueba position-absolute top-0 start-0 claseBtnTruco">
                                                                        <i class="fa-solid fa-trash-can  size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group btn btnm" style="background-color:transparent">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt(7)" class="position-absolute top-0 start-0 claseBtnTruco">
                                                                        <i class="fa-solid fa-eye size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        indice = 7;
                                                                        estadoDocumento = Model.DocEUsuario[6].IDStatusDoc;
                                                                    }


                                                                    <input id="IDdoc_@indice" class="d-none" value="@documento[6].IDdocUsuario" />

                                                                    <div class="soloIconos" id="IconoEstatus_@indice"></div>
                                                                    <input id="statusDoc_@indice" value="@estadoDocumento" class="d-none">


                                                                </td>



                                                            </tr>

                                                        }

                                                    </tbody>

                                                </table>
                                            </div>


                                        </div>
                                        <div class="col border">
                                            <div class="col border">
                                                <div class="input-group d-flex mx-auto">
                                                    <div id="visorArchivo" class="size-file d-flex justify-content-end mx-auto">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="wizard-footer">
                            <div class="pull-right d-flex justify-content-between">
                                <input type='button' class='btn btn-previous btn-fill bg-regresar btn-wd text-white' name='Regresar' value='Regresar' />
                                <input type='button' class='btn btn-next     btn-fill bg-orange   btn-wd ' name='siguiente' value='Siguiente' />
                                <input type='submit' class='btn btn-finish   btn-fill bg-orange   btn-wd ' name='finalizar' value='Guardar cambios' />
                            </div>

                            <div class="pull-right d-flex justify-content-end">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <input type="hidden" asp-for="IDusuario" />
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div><!-- fin del row -->
</div>



<!-- Modal para aprobar o rechazar documentos-->
@if (SignInManager.IsSignedIn(User) && (!User.IsInRole("Broker") && !User.IsInRole("Finanzas") && !User.IsInRole("Aliado") && !User.IsInRole("Legal") && !User.IsInRole("Propietario") && !User.IsInRole("Propietario") && !User.IsInRole("APJWR") && !User.IsInRole("Fotografia")))
{

    <!-- Modal para aprobar o rechazar documentos-->
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close" onclick="resetModal()">X</a>
            <div>
                <div class="modal-header" id="modal-header">
                    <h1 class="modal-title mt-2 fs-5">¿Qué deseas hacer con este documento?</h1>
                </div>
                <div class="modal-body mx-auto">
                    <div class="d-flex d-inline-flex " style="margin: 0 0 0 69px;">
                        <button class="btn btn-success mr-1" id="aprbarBtn" onclick="aprovar()" style="text-transform:capitalize;">Aprobar</button>

                        <button class="btn btn-danger ms-1" id="rechazrBtn" onclick="rechazar()" style="text-transform:capitalize;">Rechazar</button>
                    </div>
                    <!--submodal rechazar -->
                    <div class=" text-danger " id="motivoRechazo" style="display:none;">
                        <h4 class="text-danger modal-title  fs-5 ">Motivo de rechazo </h4>
                        <div class="form-floating">
                            <!--<label for="floatingTextarea" style="display:none;">¿Por que rechazas el documento?</label>-->
                            <textarea class="txtareaModalrechazo" placeholder="¿Por qué rechazas el documento?" id="mensajeRechazado" style="height:100px;"></textarea>
                        </div>

                        <div id="alertaRazonRechazo" class="mt-1">
                        </div>

                        <a class="btn btn-danger " onclick="guardarCambiosRechazar()" style="margin: 0 0 0 127px;text-transform:inherit;">Rechazar</a>
                    </div>
                    <!--submodal aprobar -->
                    <div class=" text-success" id="motivoAprovado" style="display:none;">
                        <h6 class="modal-title  fs-5">¿Estás seguro que deseas aprobar este documento?</h6>
                        <button class="btn btn-success " href="#close" id="GuardarCambios" style="margin :12px 0 0 128px; text-transform:capitalize;" onclick="guardarCambiosAprobar()">
                            Aprobar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

}


<!-- Modal -->
<div class="modal fade " id="RecuContra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(128,128,128,0.5)">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Usuarios" asp-action="ResetPassword" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Recuperar de contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-4 ">

                    <input type="hidden" name="idUsuarioP" value="@Model.IDusuario" />
                    <input type="hidden" name="emailUser" id="eU" value="@Model.Correo" autocomplete="off" />


                    <p class="text-danger msnContraseña" style="text-align:justify">La contraseña debe tener al minimo 8 caracteres, un valor alfanumérico, 1 caracter especial y al menos 1 caracter en mayúsculas.</p>


                    <div class="form-group is-empty">
                        <div class="d-inline form-group label-floating is-empty ms-3">
                            <div class="d-flex">
                                <label for="modalResetPassword" class="color_letter2 fs-6">Nueva contraseña</label>
                            </div>
                            <input type="password" id="modalResetPassword" class="mt-2 form-control inputContraseñaModal">
                            <span class="password-toggle1" onclick="togglePasswordVisibility1()"><i class="far fa-eye"></i></span>
                        </div>
                    </div>

                    <div class="form-group is-empty">
                        <div class="d-inline form-group label-floating is-empty ms-3">
                            <div class="d-flex">
                                <label for="modalconfirmPassword" class="color_letter2 fs-6">Confirma la contraseña</label>
                            </div>
                            <input type="password" id="modalconfirmPassword" class="mt-2 form-control inputContraseñaModal">
                            <span class="password-toggle2" onclick="togglePasswordVisibility2()"><i class="far fa-eye"></i></span>
                        </div>
                    </div>

                   
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-dark-blue text-white" id="btnEnviarContraseña" data-bs-dismiss="modal" style="text-transform:inherit;">Guardar cambios</button>

                </div>
            </form>
        </div>
    </div>
</div>

<!--SCRIPTS//////////////////////-->


<script>

    @{

        bool TienePermisos = false;
        @if (SignInManager.IsSignedIn(User) && (!User.IsInRole("Broker") && !User.IsInRole("Finanzas") && !User.IsInRole("Aliado") && !User.IsInRole("Legal") && !User.IsInRole("Propietario") && !User.IsInRole("Propietario") && !User.IsInRole("APJWR") && !User.IsInRole("Fotografia")))
        {
            TienePermisos = true;
        }
        else
        {
            TienePermisos = false;
        }
    }

        window.UsuarioTienepermiso = JSON.parse('@Html.Raw(Json.Serialize(TienePermisos))');

</script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="~/js/script-step.js"></script>
<script src="~/js/script.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/js/archivo.js"></script>


<!--   Core JS Files   -->

<script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/js/jquery.bootstrap.js" type="text/javascript"></script>


<!--  Plugin for the Wizard -->
<script src="~/assets/js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="~/assets/js/jquery.validate.min.js"></script>



<!--funciones para el renderizado del modal-->
<script src="~/js/modalFunciones.js"></script>

<!--Para cargar la imagen de perfil********************-->
<script>
    function cargarImagen() {
        var archivoSeleccionado = document.getElementById('archivo').files[0];
        var lector = new FileReader();

        lector.onload = function (evento) {
            var imagenPerfil = document.getElementById('preview');
            imagenPerfil.src = evento.target.result;
        }

        lector.readAsDataURL(archivoSeleccionado);
    }



    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    // Obtener el elemento
    var SinToolTip = document.querySelectorAll(".fileContainer3");

    for (elemento of SinToolTip) {
        // Remover el atributo data-toggle
        elemento.removeAttribute("data-toggle");

        // Remover el atributo data-placement
        elemento.removeAttribute("data-placement");
    }

</script>


<!--SWEET ALERT ***************************************************************************-->
<script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]';
        console.log(successMessage);
        if (successMessage) {
            // Mostrar Sweet Alert si hay un mensaje de éxito
            Swal.fire({
                title: '¡Registro exitoso!',
                html: successMessage,
                icon: 'success',
                confirmButtonText: "Ok",
                customClass: {
                    confirmButton: 'button_confirmacion'
                }
            });
        }
    });
</script>


<!--script para comprobar que la contrasea de confirmacion sea igual a la contraseña nueva :)*******************************************************-->
<script>
    document.getElementById('btnEnviarContraseña').addEventListener('click', function () {
        var password = document.getElementById('modalResetPassword').value;
        var confirmPassword = document.getElementById('modalconfirmPassword').value;

        console.log(confirmPassword);
        if (password !== confirmPassword) {
            // Si las contraseñas no coinciden, mostrar un mensaje de alerta.
            alert("Las contraseñas no coinciden. Por favor, asegúrate de ingresar la misma contraseña en ambos campos.");
        } else {
            var user = $('#eU').val();
            var mensajeError = document.getElementsByClassName("msnContraseña")[0]; // Seleccionamos el primer elemento con la clase "msnContraseña".
            mensajeError.textContent = ""; // Limpiamos el contenido previo del mensaje de error.

            if (password.length < 8) {
                // Si la contraseña tiene menos de 8 caracteres, mostrar un mensaje de error.
                mensajeError.textContent = "La contraseña debe tener al menos 8 caracteres";
                return; // Detener el flujo de la función si la contraseña no cumple con la longitud mínima.
            }

            // Verificar que los campos de contraseña no estén vacíos
            if (password.trim() === "" || confirmPassword.trim() === "") {
                alert("Por favor, completa todos los campos de contraseña.");
                return; // Detener el flujo de la función si algún campo de contraseña está vacío.
            }

            var newPassword = confirmPassword; // Renombramos para evitar conflicto con la variable de la contraseña.

            // Envío de datos
            $.ajax({
                type: 'POST',
                url: '/Usuarios/ResetPassword',
                data: {
                    emailUser: user,
                    newPassword: newPassword
                },
                success: function (result) {
                    Swal.fire({
                        title: '¡Registro exitoso!',
                        html: 'La contraseña se actualizó correctamente.',
                        icon: 'success',
                        confirmButtonText: "Ok",
                        customClass: {
                            confirmButton: 'button_confirmacion'
                        }
                    }).then(function () {
                        location.reload();
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Manejar el resultado no exitoso aquí
                    console.log('Error:', textStatus);
                    console.log('Error lanzado:', errorThrown);
                }
            });
        }
    });
</script>


<!--script para la animacion de la visivilidad de la contraseña en el modal*******************************************************************-->
<script>
    function togglePasswordVisibility1() {
        var passwordInput = document.getElementById("modalResetPassword");
        var passwordToggle = document.querySelector(".password-toggle1");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.innerHTML = '<i class="far fa-eye-slash"></i>'; // Cambia el icono a un ojo tachado
        } else {
            passwordInput.type = "password";
            passwordToggle.innerHTML = '<i class="far fa-eye"></i>'; // Cambia el icono a un ojo
        }
    }
    function togglePasswordVisibility2() {
        var passwordInput = document.getElementById("modalconfirmPassword");
        var passwordToggle = document.querySelector(".password-toggle2");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.innerHTML = '<i class="far fa-eye-slash"></i>'; // Cambia el icono a un ojo tachado
        } else {
            passwordInput.type = "password";
            passwordToggle.innerHTML = '<i class="far fa-eye"></i>'; // Cambia el icono a un ojo
        }
    }
</script>

         
<script src="~/js/bloquearBoton.js"></script>
